@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Inter:wght@300&family=Roboto+Slab:wght@500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, h4, p, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font size and family */
body {
  font-family: "Inter", "Roboto slab", sans-serif;
  font-size: 16px;
}

/* Header styles */
header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;

}
.topic{
  color: #e5e5e5;
  background-color: black;
  text-decoration: none;
  padding-top: 4px;
}
#snitch{
  background-color: black;
  color: #e5e5e5;
}
.topic p{
  color: #de8a02;
}

#content {
  top:0;
  left: 0;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}


#logo_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #de8a02;
  position: fixed;
}
#logo_link {
  padding-left: 5px;
  padding-top: 5px;
}

nav img {
  position: fixed;
  margin-right: 8px;
  top:2px;
  z-index: 2;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  
}

nav a {
  font-size: x-large;
  text-decoration: none;
  color: #de8a02;
  padding: 14px 16px;
  padding-right: 30px;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 20px;
  grid-row: 4/6;

}
#snitch h2{
  color: #de8a02;

}
#social{
  display: grid;
  display: inline-block;
  justify-items: end;
}
.mine{
  color: #e5e5e5;
}
.topic h1{
  text-decoration: underline;
  color: #de8a02;
}
.topic{
  color: #e5e5e5;
}
nav a:hover {
  background-color: white;
  color: black;
}
nav a:active{
  color: black;
  background-color: #de8a02;
}
.fine{
  padding-left: 10px;
  text-align: left;
  padding-inline-start: 10px;

}
#bod {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Two equal columns */
  grid-gap: 20px; /* Gap between the columns */
  padding-top: 130px;
  
}
.more{
  color: #de8a02;
}
p{
  color: white;
  margin-bottom: 20px;
  padding:10px;
}
.fine p:hover{
  color: #e5e5e5;
  background-color: black;
}
.fine h1{
  color: #de8a02;
}

#background {
  grid-column: 1 / span 2; /* The background image spans both columns */
}

.content {
  display: grid;
  grid-template-columns: 280px 1fr; /* Left column for the image, right column for the text */
  grid-gap: 10px; /* Gap between the image and text */
}

#single {
  grid-column: 1; /* The image occupies the left column */
}

.fine {
  grid-column: 2; /* The text occupies the right column */
  grid-row: 1/2;
}


/* Main section styles */
.services {
  padding: 20px;
  text-align: center;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

#background img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
#hook p{
  color: #e5e5e5;
}
#single{
  padding-left: 10px;
}

#hook {
  color: #de8a02;
  padding-top: 120px;
  
}
h4{
  color: #e5e5e5;
}
#snitch p{
  font: 100;
}
#services{
  padding-top: 0px;
}
.service-item {
  display: inline-block;
  border: 6px solid #de8a02 ;
}

.service-item {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.service-item img {
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  position: static;
  padding-bottom: 0;
  background-color: black;
  color: #de8a02;
  padding: 20px;
}

footer p,
footer a {
  color: #de8a02;
  text-decoration: none;
  margin: 5px;
  text-align: left;
  display: inline-block;
}
footer a{
  justify-content: right;
}
footer a:hover{
  color: #e5e5e5;
}
.social img {
  display: inline-block;
  width: 30px;
  margin: 0 5px;
}
#social{
  float: right;
}

/* Responsive styles */
@media (max-width: 768px) {
  #content {
    grid-template-columns: auto;
  }

  nav {
    justify-content: center;
    margin-top: 10px;
  }

  #services {
    display: inline-block;
    padding: 40px;
    margin-top: 30px;
  }
  
  .service-item {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}
.dropbtn {
  background-color: #de8a02;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: -2;
}

.dropdown {
  position: fixed;
  display: inline-block;
  padding-top: 120px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e5e5e5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #de8a02;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #de8a02;}